.news {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0 auto;
  max-width: 690px;

  .news__list {
    li {
      margin: 0 0 24px 0;
    }
  }

  .news__title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 0 0 6px 0;
  }

  a {
    color: crimson;
  }
}