// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Proza+Libre:wght@400;600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

//----------------------------------------------------------------------------
//  Font Families
//----------------------------------------------------------------------------
$bodyFont: "Open Sans", sans-serif;
$titleFont: "Proza Libre", sans-serif;

//----------------------------------------------------------------------------
//  Font Sizes
//----------------------------------------------------------------------------
$fBase: 16px;

$fSmall: 0.9rem;
$fMedium: 1.25rem;
$fLarge: 1.875rem; // 30px
$fXlarge: 3rem;

//----------------------------------------------------------------------------
//  Line Heights
//----------------------------------------------------------------------------
$lBase: 22px;
// $lSmall  : 0.9rem;
// $lMedium  : 1.25rem;
$lLarge: 36px;
// $lXlarge : 3rem;

//----------------------------------------------------------------------------
//  Body Text
//----------------------------------------------------------------------------
@mixin _btStandard {
  font-size: $fBase;
  line-height: $lBase;
} // 320px
@mixin _btS {
  font-size: $fBase;
  line-height: $lBase;
} // 576px
@mixin _btM {
  font-size: $fBase;
  line-height: $lBase;
} // 768px
@mixin _btL {
  font-size: $fBase;
  line-height: $lBase;
} // 992px
@mixin _btXL {
  font-size: $fBase;
  line-height: $lBase;
} // 1200px
