.y-wrap {
  &.y-wrap--inner {
    margin: 0 auto;
    max-width: 850px;
    width: 94%;
  }
}

.y-push-down {
  // padding-top: $hSmall;
  padding-top: 60px;
}

.y-header-mobile {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.y-sticky {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.y-disable {
  position: relative;
}

.y-disable:after {
  content: "";
  height: 100%;
  width: 100%;
  z-index: 15;
}

.y-align {
  display: flex;
  height: 100%;
  &.y-align--hv {
    justify-content: space-between;
    align-items: center;
  }
}

.y-absolute {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}
