$s_small  : 576px;
$s_medium : 768px;
$s_large  : 992px;
$s_xlarge : 1200px;

//----------------------------------------------------------------------------
//  Media Queries
//----------------------------------------------------------------------------
@mixin _screen($size) {
  @if       $size == s_small { @media only screen and (min-width: $s_small)   { @content; } }
  @else if  $size == s_medium { @media only screen and (min-width: $s_medium) { @content; } }
  @else if  $size == s_large { @media only screen and (min-width: $s_large)   { @content; } }
  @else if  $size == s_xlarge { @media only screen and (min-width: $s_xlarge) { @content; } }
}