.navs {
  display: flex;
  font-size: 1.5rem;
  a {
    text-align: center;
    // margin: 0 0 0 30px;
    &:first-child {
      flex: 1;
      // margin-left: 0;
    }
    &.active {
      // color: crimson; // TODO leaving off until we get multiple navs
    }
  }
}