.navs__navs--desktop {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  li {
    margin-right: 30px;
  }
}

.nav__logo-container {
  width: 60px;
}

.nav__logo-container svg {
  width: 100%;
}
